<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method='post' action='/'>
      <p>String: <input type='text' name='user_input' value=''></p>
  </body>
</html>
